.like-button-block-form {
  margin-top: @rem*33;
  width: 34.8%;
  &__container {
    margin-top: @rem*16;
    display: flex;
    justify-content: space-between;
  }
  &__legend {
    .font-properties(@rem*12; @rem*15; #1F2041; @montserrat-bold);
    text-transform: uppercase;
  }
  &__input {
    display: none;
  }
  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none; 
  }
  &__custom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: @rem*18;
    width: @rem*38;
    border-radius: @rem*10;
    border: @rem*1 solid rgba(31, 32, 65, 0.25);
    flex-shrink: 0;
    &_click {
      background: url("/assets/img/Rectangle 2.svg") no-repeat center;
      background-size: @rem*40 @rem*20;
    }
  }
  &__icon {
    .font-properties(@rem*10; @rem*9; rgba(31, 32, 65, 0.25); @MaterialIcons-Regular);
    text-transform: none;
    width: 20%;
    &_click {
      .font-properties(@rem*10; @rem*9; #BC9CFF; @MaterialIcons-Regular);
    }
  }
  &__counter {
    .font-properties(@rem*10; @rem*17; rgba(31, 32, 65, 0.25); @montserrat-regular);
    width: 35%;
    align-self: flex-start;
    &_click {
      color: #BC9CFF;
      width: 37%;
    }
  }
}