@font-face {
  font-family: "quicksand-bold";
  src: url('/assets/fonts/quicksand-bold/fonts/Quicksand-Bold.ttf') format('truetype');
  src: url('/assets/fonts/quicksand-bold/fonts/Quicksand-Bold.svg') format('svg'),
       url('/assets/fonts/quicksand-bold/fonts/Quicksand-Bold.woff') format('woff');
}

@font-face {
    font-family: "montserrat-bold";
    src: url('/assets/fonts/montserrat-bold/fonts/Montserrat-Bold.ttf') format('truetype');
    src: url('/assets/fonts/montserrat-bold/fonts/Montserrat-Bold.svg') format('svg'),
         url('/assets/fonts/montserrat-bold/fonts/Montserrat-Bold.woff') format('woff');
}

  @font-face {
    font-family: "montserrat-regular";
    src: url('/assets/fonts/montserrat-regular/fonts/Montserrat-Regular.ttf') format('truetype');
    src: url('/assets/fonts/montserrat-regular/fonts/Montserrat-Regular.svg') format('svg'),
         url('/assets/fonts/montserrat-regular/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: "quicksand-regular";
  src: url('/assets/fonts/quicksand-regular/fonts/Quicksand-Regular.ttf') format('truetype');
  src: url('/assets/fonts/quicksand-regular/fonts/Quicksand-Regular.svg') format('svg'),
       url('/assets/fonts/quicksand-regular/fonts/Quicksand-Regular.woff') format('woff');
}