doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="Website elements.")
    meta(name="keywords" content="blocks, elements")
    link(rel="icon", href="/assets/static/favicon.ico")
    title UIKit
  body
    include ../modules/header-ui-kit/header-ui-kit
    section.section-color-and-types
      .container-color-and-types
        .wrapper-color-block
          include ../modules/color-block/color-block
        .wrapper-text-types
          include ../modules/text-types/text-types
    include ../modules/header-ui-kit/header-ui-kit
    section.section-form-elements
      include ../modules/form-elements/form-elements