.section-form-elements {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*justify-content: center;*/
}

.wrapper-input-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: @rem*320;
  margin-left: @rem*141;
  margin-top: @rem*5;
  justify-content: space-between;
}

@import "../input-block/input-block";
@import "../dropdown/dropdown";

.wrapper-button-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: @rem*270;
  margin-left: @rem*124;
  margin-top: @rem*8;
  align-content: flex-start;
}

@import "../checkbox/checkbox";
@import "../radio-button/radio-button";
@import "../toggle/toggle";
@import "../like-button/like-button";

.spacer {
  width: 60%;
}

.legend-rate-button-block {
  margin-top: @rem*40;
  margin-left: @rem*2;
  width: 100%;
  .font-properties(@rem*12; @rem*15; #1F2041; @montserrat-bold);
  text-transform: uppercase;
}

.container-block {
  width: 96.2%;
  display: flex;
  justify-content: space-between;
  margin-left: @rem*2;
}

@import "../rate-button/rate-button";