include ../../pug/utils/mixins

+input-field({label: "Text field", name: "email", type: "email", placeholder: "Email"})
+input-field({label: "Text field", name: "text", type: "text", placeholder: "This is pretty awesome", hoverFocus: "true"})
